*{
box-sizing: border-box;    
}
.contentHolder {
display: grid;
grid-template-columns:  repeat(5,1fr);
grid-template-rows:114px repeat(5,1fr); 
height: 150vh;  
}
.headerHolder {
grid-row:1/2;
grid-column: 1/6;  
padding: 5%;  
background-color: rgb(188, 222, 234);
display: flex;
justify-content: center;
align-items: center;
}
.header {
height: 80px;
width: 100%;
background-color: white;    
padding-left: 5%;
display: flex;
justify-content: flex-start;
align-items: center;
}
.pickAProject{
height: 50%;
width: 16%;
border: 1px solid #222222;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
}
.dropDownArrowIcon{
height: 27%;
width: 21%;
object-fit: cover;
padding: 0;
}
.pickAProjectDropDown{
position: fixed;
width: 197.54px;
height: 400px;    
border: 1px solid #222222;
border-radius: 8px;
top: 100px;
left: 145px;
}

.hidden{
display: none;
}
.flex {
display: flex;    
}
.bodyHolder{
grid-row:3/6;
grid-column: 2/6;    
}