*{
box-sizing: border-box;    
}
.contentHolder {
display: grid;
grid-template-columns:  repeat(5,1fr);
grid-template-rows:145px repeat(5,1fr); 
height: 150vh;  
}
.headerHolder {
grid-row:1/2;
grid-column: 1/6;  
padding: 5%;  
background-color: rgb(188, 222, 234);
display: flex;
justify-content: center;
align-items: center;
}
.header {
height: 80px;
width: 100%;
background-color: white;    
padding-left: 5%;
display: flex;
justify-content: flex-start;
align-items: center;
}
.pickAProject{
height: 50%;
width: 16%;
border: 1px solid #222222;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
}
.dropDownArrowIcon{
height: 27%;
width: 21%;
object-fit: cover;
padding: 0;
}
.pickAProjectDropDown{
position: fixed;
width: 192px;
height: 140px;    
border: 1px solid #222222;
border-radius: 8px;
top: 100px;
left: 141px;
background-color: white;
align-content: center;
gap: 10px;
}
.pickAProjectDropDown > div{
border: 1px black solid;
text-align: center;
cursor: pointer;
}
.hidden{
display: none;
}
.flex {
display: flex;    
}
.bodyHolder{
grid-row:2/7;
grid-column: 2/6;    
}
.SideBarHolder{
grid-row: 2/7; 
grid-column: 1/2;   
background-color: rgb(224, 137, 137);   
padding: 10px;
}
.SideBar {
width: 100%;
height: 100%;    
flex-direction: column;
align-items: center;
}
.CreatAProjectSideBar{
width: 100%;    
height: 8%;
border: 1px black solid;
justify-content: center;
align-items: center;
border-radius: 8px;
font-size: 1.5em;
scale: 0.8;
}
.CreatAProjectSideBar:hover {
justify-content: space-between; 
scale: 0.9;  
}

.projectBuilder{
width: 1121px;
height: 100%; 
position: fixed;
background-color: rgba(79, 86, 94, 0.322);   
justify-content: center;
align-items: center;
}

.tempname{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 340px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 1.2rem;
    justify-content: center;
    gap: 20px;
}
.inputdiv {
flex-direction: column; 
gap: 5px;   
}
input:valid{
color: green;    
}
input:invalid{
color: red;    
}
#formClose{
height: 20px;    
align-self: flex-end;
}

.taskbuilderformholder{
width: 1121px;
height: 100%; 
position: fixed;
background-color: rgba(79, 86, 94, 0.322);   
justify-content: center;
align-items: center;
}

#taskFormClose{
height: 20px;    
align-self: flex-end;   
margin: 5px; 
}

#taskBuilder{
width: 30%;
height: 35%;
border: 1px black solid;
border-radius: 8px;    
background-color: white;
gap: 20px;
display: flex;
flex-direction: column;
}
#taskBuilder > div {
display: flex;
flex-direction: column;    
gap: 10px;
padding: 5px;
}
#taskBuilder > button { 
    margin: 10px;   
}
.taskIconsList{
display: flex;
list-style: none;
gap: 10px;
font: 1.4rem;    
width: 100%;
justify-content: space-around;
padding: 10px;
}
.taskIconsList > li {
border: 1px solid salmon;   
background-color: salmon; 
width: 300px;
height: 50px;
border-radius: 8px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.MainTaskHolder{
display: flex;
gap: 10px;    
padding: 5px;
}
.MainTaskHolder > div{
border: 1px solid rgb(174, 173, 173);
}
.MainTaskHolder > div:hover{
border: 1px solid black;
}
.dueby::before{
content: "Due by: ";    
}